.inc-size {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: auto
}

.sizing {
    margin: 0px auto;
    padding: 20px;
    border: 3px solid black;
    height: 100%;
    background-color: #56cded
}