<div class="login-grid">

  <p style="text-align:center">
    Welcome to Team Converter's Currency Converter! Please fill in your info below:
  </p>
  <div>
  </div>
  <form class="login-form box-shadow">
    <div class="form-group">

      <label for="exampleInputEmail1">User Name</label>
      <input [(ngModel)]="username" name="username" type="text" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp" placeholder="Input Name">
    </div>

    <!-- STILL NEED TO WIRE UP DEFAULT COUNTRY CHOICE TO MATCH DROP-DOWN MENU OF BASE CURRENCIES -->

    <div class="form-group">
      <label for="exampleInputPassword1">Default Country (USD)</label>



    </div>
    <!-- <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic">
        {{this.mainframe.currentCountry.base}}<span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li (click)="setCountry(currency, resultLeft.value)" *ngFor="let currency of currencies; let i = index"
          role="menuitem"><a [ngStyle]="fontFamily" class="dropdown-item" href="#">{{currency.base}}</a></li>
      </ul>
    </div> -->

    <button mat-raised-button (click)="login()" type="button" class="btn btn-success">
      Login</button>

  </form>
  <div></div>
</div>