<div class="login-grid">
<!-- <div class="space"></div> -->

<p style="text-align:center">
  Welcome to Team Converter's Conversion Calculator! Please fill in your info below:
</p>
<div>
</div>
<form class="login-form box-shadow">
  <div class="form-group">

  <!-- STILL NEED TO TAKE INPUTED USER NAME AND CREATE A CUSTIMIZED GREETING IN THE NAVIGATION MENU/HEADER COMPONENT -->

    <label for="exampleInputEmail1">User Name</label>
    <input [(ngModel)]="user.username" name="username" type="text" class="form-control" id="exampleInputEmail1"
      aria-describedby="emailHelp" placeholder="Input Name">
  </div>

  <!-- STILL NEED TO WIRE UP DEFAULT COUNTRY CHOICE TO MATCH DROP-DOWN MENU OF BASE CURRENCIES -->

  <div class="form-group">
    <label for="exampleInputPassword1">Default Country</label>
    <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="exampleInputPassword1"
      placeholder="Pick a Currency">
  </div>
  <button mat-raised-button (click)="navigateTo('home')" type="button" class="btn btn-success">
      Login</button>
</form>
<div></div>
</div>