<div class="login-grid">
<!-- <div class="space"></div> -->

<p style="text-align:center">
  Welcome to Team Converter's Conversion Calculator! <br>Please fill in your info below:
</p>
<div>
</div>
<form class="login-form box-shadow">
  <div class="form-group">

  <!-- STILL NEED TO TAKE INPUTED USER NAME AND CREATE A CUSTIMIZED GREETING IN THE NAVIGATION MENU/HEADER COMPONENT -->

    <label for="exampleInputEmail1"><p>User Name:</p></label>
    <input [(ngModel)]="username" name="username" type="text" class="form-control" id="inputName" #inputName
      aria-describedby="emailHelp" placeholder="Input Name">
  </div>

  <!-- STILL NEED TO WIRE UP DEFAULT COUNTRY CHOICE TO MATCH DROP-DOWN MENU OF BASE CURRENCIES -->


      <button mat-raised-button (click)="navigateTo('home', inputName.value, this.login.defCurrency)" type="button" class="btn pull-right btn-primary">
        Submit</button>
</form>
<div></div>
</div>