
*{
    margin: 0px;
    padding: 0px;
    position: relative;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-page {
    display: grid;
    grid-template-rows: 3fr 9fr 6fr;
    height: 100%;
}
.row-one {
    display: grid;
    grid-template-columns: 4fr 10fr 4fr;
    width: 100vw;
    border: black 1px solid;
    height: 100%;
}
.row-two {
    display: grid;
    border: black 1px solid;
    height: 100%;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.row-three {
    grid-template-columns: 3fr 4fr 4fr 3fr;
    justify-content: center;
    display: grid;
    border: black 1px none;
    height:100%;
    width: 100vw;
    padding: .5px;
    margin: 5px;
}
.padding{
    padding: 12px;
    margin:5px;
    border: black 1px solid;
    height: 90%;
}

.conversion-box {
    height: 5vh;
    margin: 0px auto;
    padding: 4px;
}

.button-holder {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
}
.button {
    margin: 5px;

}
.input {
    box-shadow: 1px 1px black;
}
.input-style {
    box-shadow: 1px 1px 1px .1px black;
    margin: 15px;
    border: none;
    border-radius: 2px;
}
.input-style:hover {
    box-shadow: 1px 1px 1px .1px black;
    margin: 15px;
    border: none;
    border-radius: 1.5px;
    background-image: linear-gradient(to left, rgba(139, 133, 133, 0), rgb(94, 89, 89, .1));
}
.input-decimal {
    margin: 7px;
    border: none;
    width: 12px
}
.decimal-box {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.line-break{
    width:100%;
    height: 1px;
}

.large-line-break{
    width:100%;
    height: 10px;
}
