
*{
    margin: 0px;
    padding: 0px;
    position: relative;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.pull-right {
    float: center;
}

.main-page {
    display: grid;
    grid-template-rows: 3fr 10fr 8fr;
    height: 100%;
}
.row-one {
    display: grid;
    grid-template-columns: 4fr 10fr 4fr;
    width: 100vw;
    height: 100%;
    background-image:url("./assets/images/converter.png");
    background-repeat:no-repeat;
    background-size: contain;
    max-height: 100%;
    
    /* border: black 2px solid; */
}

.row-two {
    display: grid;
    border: black 3px solid;
    height: 100%;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color:#56cded;
}

.row-three {
    grid-template-columns: 2fr 4fr 4fr 4fr 2fr;
    justify-content: center;
    display: grid;
    height:100%;
    width: 100%;
    padding: .5px;
    margin: 1px;
    max-height: 2cm;
}
.padding{
    padding: 12px;
    margin:5px;
    /* border: black 1px solid; */
    height: 100%;
    width: 100%;
}

.conversion-box {
    height: 5vh;
    margin: 0px auto;
    padding: 4px;
}

.button-holder {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
}
.button {
    margin: 5px;

}

.smallButton {
    margin: 2px;

}

.input {
    box-shadow: 1px 1px black;
}
.input-style {
    box-shadow: 1px 1px 1px .1px black;
    margin: 15px;
    border: black 1px solid;
    border-radius: 2px;
    text-align:center;
}
.input-style:hover {
    box-shadow: 1px 1px 1px .1px black;
    margin: 15px;
    border: none;
    border-radius: 1.5px;
    background-image: linear-gradient(to left, rgba(139, 133, 133, 0), rgb(94, 89, 89, .1));
}
.input-decimal {
    margin: 7px;
    border: black 1px solid;
    width: 20px;
    text-align:center;
}
.decimal-box {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.line-break{
    width:100%;
    height: 1px;
}

.large-line-break{
    width:100%;
    height: 5px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(50%);
}

.vertical-center-header{
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.vertical-center-r1c1{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pull-right {
    float:right;
}