<div class="row-three">
    <div>
        <div class="center-height fill">
            <div>
                <button mat-raised-button (click)=saveConversion() type="button" class="btn-sm btn-success">Save Conversion
                </button>
            </div>
            <div style="text-align:center">
                <button mat-raised-button (click)=clearHistory() type="button" class="btn-sm btn-danger">Clear History
                </button>
            </div>
        </div>
    </div>
    <div class="arrayBox">
        <table class="table-grid" *ngIf="mainframe.history.length > 0">
            <tbody style="font-family:Arial;font-size: 8pt">
                <tr *ngFor="let detail of mainframe.history; let i = index">
                    <td>{{detail.countryLeft}}</td>
                    <!-- <td>{{detail.denominationLeft}}</td>
                    <td>{{detail.symbolLeft}}</td> -->
                    <td *ngIf="detail.editMode">
                        <input [(ngModel)]="detail.conversionLeft" type="string" class="form-control" placeholder="input"></td>
                    <td *ngIf="!detail.editMode">{{detail.conversionLeft}}</td>
                    <td>=</td>
                    <td>{{detail.countryRight}}</td>
                    <!-- <td>{{detail.denominationRight}}</td>
                    <td>{{detail.symbolRight}}</td> -->
                    <td>{{detail.conversionRight}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button (click)="edit(i, 'base')" mat-raised-button type="button" class="buttonEdit btn btn-info" style="font-size: 8pt">✎</button>
                            <button (click)="save(i, 'base')" mat-raised-button type="button" class="buttonEdit btn btn-success" style="font-size: 8pt">✔</button>
                            <button (click)="delete(i, 'base')" mat-raised-button type="button" class="buttonEdit btn btn-danger" style="font-size: 8pt">X</button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="arrayBox footerColumnTwo">
        <div class="no-items" *ngIf="mainframe.history.length === 0">
            <h6>No history has been saved</h6>
        </div>
        <table class="table-grid" *ngIf="mainframe.history.length > 0">
            <thead>
            </thead>
            <tbody style="font-family:Arial;font-size: 8pt">
                <tr *ngFor="let detail of mainframe.historyOverflow; let i = index">
                    <td>{{detail.countryLeft}}</td>
                    <!-- <td>{{detail.denominationLeft}}</td>
                    <td>{{detail.symbolLeft}}</td> -->
                    <td *ngIf="detail.editMode">
                        <input class="input-style" [(ngModel)]="detail.conversionLeft" type="number" class="form-control" placeholder="input"></td>
                    <td *ngIf="!detail.editMode">{{detail.conversionLeft}}</td>
                    <td>=</td>
                    <td>{{detail.countryRight}}</td>
                    <!-- <td>{{detail.denominationRight}}</td>
                    <td>{{detail.symbolRight}}</td> -->
                    <td>{{detail.conversionRight}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <button (click)="edit(i, 'overflow')" mat-raised-button type="button" class="buttonEdit btn btn-info" style="font-size: 8pt">✎</button>
                            <button (click)="save(i, 'overflow')" mat-raised-button type="button" class="buttonEdit btn btn-success" style="font-size: 8pt">✔</button>
                            <button (click)="delete(i, 'overflow')" mat-raised-button type="button" class="buttonEdit btn btn-danger" style="font-size: 8pt">X</button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="arrayBox">
        <table class="table-grid" *ngIf="mainframe.history.length > 0">
            <thead>
            </thead>
            <tbody style="font-family:Arial;font-size: 8pt">
                <tr *ngFor="let detail of mainframe.historyOverflowTwo; let i = index">
                    <td>{{detail.countryLeft}}</td>
                    <!-- <td>{{detail.denominationLeft}}</td>
                        <td>{{detail.symbolLeft}}</td> -->
                    <td *ngIf="detail.editMode">
                        <input [(ngModel)]="detail.conversionLeft" type="number" class="form-control" placeholder="input"></td>
                    <td *ngIf="!detail.editMode">{{detail.conversionLeft}}</td>
                    <td>=</td>
                    <td>{{detail.countryRight}}</td>
                    <!-- <td>{{detail.denominationRight}}</td>
                        <td>{{detail.symbolRight}}</td> -->
                    <td>{{detail.conversionRight}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example" style="font-family:Arial;font-size: 8pt">
                            <button (click)="edit(i, 'overFlowTwo')" mat-raised-button type="button" class="buttonEdit btn btn-info" style="font-size: 8pt">✎</button>
                            <button (click)="save(i, 'overFlowTwo')" mat-raised-button type="button" class="buttonEdit btn btn-success" style="font-size: 8pt">✔</button>
                            <button (click)="delete(i, 'overflowTwo')" mat-raised-button type="button" class="buttonEdit btn btn-danger" style="font-size: 8pt">X</button>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div>
        <div class="row">
            <div class="d-flex flex-column center-height fill">
                <div>
                    <button mat-raised-button (click)="randomCurrency()" type="button" class="btn-sm btn-warning vertical-center">Random
                        Currency Generator</button>
                </div>
            </div>
            <div class=" d-flex flex-column center-height fill">
                    <div>
                        <button mat-raised-button (click)="reset()" type="button" class="btn-sm btn-warning vertical-center">Reset</button>
                    </div>
                </div>
        </div>
    </div> -->
    <div>
            <div class="center-height fill">
                <div>
                    <button mat-raised-button (click)=randomCurrency() type="button" class="btn-sm btn-success">Random Currency Generator
                    </button>
                </div>
                <div style="text-align:center">
                    <button mat-raised-button (click)=reset() type="button" class="btn-sm btn-danger">Reset
                    </button>
                </div>
            </div>
        </div>
</div>

<!-- <app-flex-modal #flex1
  [transition]="'slide-in-right'"  
  [modalStyle]="{'border':'5px solid #CCC'}"
  [showToolbar]="true" 
  [showDefaultAction]="false" 
  [modalID]="'error-modal'" 
  [width]="'615px'"
  [height]="'auto'">
  <span class="modal-title">Warning</span>
  <div class="modal-content">
    <h3>{{errorMessage}}</h3>
  </div>
  <div class="modal-action">
      <button mat-raised-button color="primary" (click)="flex1.modal.cancel()">Close</button>
  </div>
</app-flex-modal> -->