*{
    margin: 5px;
    padding: 5px;
    position: relative;
}

.footerColumnTwo{
    max-width: 100%;
}

.arrayBox{
    text-align: center;
}

.no-items {
    align-self: center;
    justify-self: center;
}


.table-grid {
    float: center;
    overflow: none;
}

.center-height{
    align-items: center;
    justify-self: center;
}

.fill{
    background-color: #56cded;
    border: black 2px solid;
    height: 100%;
}

.buttonEdit{
    height:25px;
    width:25px;
}

