<div class="row-one">
    <div class="padding">
        <a class="navbar-brand"></a>
            <div class="vertical-center-r1c1">
                <div>
                    <button mat-raised-button (click)="navigateTo('home')" type="button" class="btn-sm btn-info">
                        Home</button>
                </div>
                <div class="space"></div>
                <div>
                    <button mat-raised-button (click)="navigateTo('about')" type="button" class="btn-sm btn-info">
                        About</button>
                </div>
            </div>
    </div>
    <div></div>
    <div class="padding">
        <div class="pull-right vertical-center-header">
                <!-- BUTTON DISABLE/ENABLE CONFIGURATION STILL IN PROGRESS -->
                <div>
                <button *ngIf="!this.login.loggedIn" mat-raised-button (click)="navigateTo('login')" (click)="disabled = !disabled" type="button" class="btn-sm btn-success" [disabled]="disabled">
                    Login</button>
                </div>
                <div>
                <button *ngIf="this.login.loggedIn"mat-raised-button (click)="navigateTo('login', 'logOut')" (click)=mainframe.logoutHistory() (click)="disabled = !disabled" type="button" class="btn-sm btn-danger">
                    Logout</button>
                </div>
        </div>
    </div>
</div>
